body{
	background: url("../images/map.png");
	background-size: 100%;
    background-repeat: no-repeat;
    }
.jumbotron{
    background-color: rgba(34, 181, 183,0.9) !important;
}
.card{
    opacity: .9
}
